.spotify-button {
  border: 1px solid green;
  color: green;
  padding: 1.5vh;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3vh;
  background: none;
  font-family: sans-serif;
   
}

body {
  padding: 5%;
  /* background-image: url("E:/Development/WEB/spotify-track-analysis/src/resources/bg.jpg");
  background-color: #000000; */
}

#heading_logo {
  float: right;
  font-family: sans-serif;
  font-size: 5vh;
  
}